In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
temp = pd.read_csv("temperature.csv", parse_dates=True, index_col="datetime")

In [11]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45253 entries, 2012-10-01 12:00:00 to 2017-11-30 00:00:00
Data columns (total 36 columns):
Vancouver            44458 non-null float64
Portland             45252 non-null float64
San Francisco        44460 non-null float64
Seattle              45250 non-null float64
Los Angeles          45250 non-null float64
San Diego            45252 non-null float64
Las Vegas            45252 non-null float64
Phoenix              45250 non-null float64
Albuquerque          45252 non-null float64
Denver               45252 non-null float64
San Antonio          45252 non-null float64
Dallas               45249 non-null float64
Houston              45250 non-null float64
Kansas City          45252 non-null float64
Minneapolis          45240 non-null float64
Saint Louis          45252 non-null float64
Chicago              45250 non-null float64
Nashville            45251 non-null float64
Indianapolis         45246 non-null float64
Atlanta              45247 non-null float64
Detroit              45252 non-null float64
Jacksonville         45252 non-null float64
Charlotte            45250 non-null float64
Miami                44448 non-null float64
Pittsburgh           45250 non-null float64
Toronto              45252 non-null float64
Philadelphia         45250 non-null float64
New York             44460 non-null float64
Montreal             45250 non-null float64
Boston               45250 non-null float64
Beersheba            44455 non-null float64
Tel Aviv District    44460 non-null float64
Eilat                44461 non-null float64
Haifa                44455 non-null float64
Nahariyya            44456 non-null float64
Jerusalem            44460 non-null float64
dtypes: float64(36)
memory usage: 12.8 MB