# Lambda Expressions

#### Compresed version of a function that will mostse likely only be used once.

In [8]:
lambda x: x ** 2

In [9]:
t = lambda x: x ** 2

In [10]:
t(6)

36

# Map -> Applies a function to a sequence of iterable items

In [1]:
def times_two(num):
    return num * 2

In [2]:
times_two(5)

10

In [3]:
seq = [1,2,3,4,5,6]

In [6]:
list(map(times_two,seq))

[2, 4, 6, 8, 10, 12]

### you  may not need to make a funcition every time

In [7]:
# times two can be written in on lie
lambda var: var * 2

In [11]:
list(map(lambda x: x * 2, seq))

[2, 4, 6, 8, 10, 12]

# Filter -< instead of mapping out you will filter out elements

In [13]:
# for example get the ecen numbers out of a list

In [14]:
list(filter(lambda x: x % 2 ==0, seq))

[2, 4, 6]

In [15]:
## try on a string

In [16]:
s = "Hello my name is sam"

In [17]:
s.lower()

'hello my name is sam'

In [18]:
s.upper()

'HELLO MY NAME IS SAM'

In [19]:
s.split()

['Hello', 'my', 'name', 'is', 'sam']

In [20]:
tweet = "Hello there going to the #game"

In [26]:
tweet.split("#")

['Hello there going to the ', 'game']

### Above splits on a hashtag to you can crate a list of hashtags terms

In [28]:
d = {"k1":1, "k2":2}

In [29]:
d.keys()

dict_keys(['k1', 'k2'])

In [30]:
d.values()

dict_values([1, 2])

In [31]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

# Tuple unpacking

In [32]:
x = [(2,3,4), (5,6,7)]

In [33]:
x

[(2, 3, 4), (5, 6, 7)]

In [37]:
for x,y,x in x:
    print(x)

4
7