In [1]:
#Calculate the rate of return for the following securties
# GE, Ford, Microsoft, AMAZON

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as web

In [3]:
tickers = ["GE", "F", "MSFT", "AMZN"]
data_frame = pd.DataFrame()
for t in tickers:
    data_frame[t] = web.DataReader(t, data_source = "yahoo", start = "2001-1-1")["Adj Close"]

In [4]:
data_frame

                   GE          F        MSFT         AMZN
Date
2001-01-02  23.312727  13.555584   13.952815    13.875000
2001-01-03  25.477486  14.008603   15.420476    17.562500
2001-01-04  25.610699  15.019167   15.581316    15.500000
2001-01-05  25.211050  14.635847   15.802470    14.562500
2001-01-08  24.278542  14.287378   15.742152    14.937500
...               ...        ...         ...          ...
2019-11-20  11.390000   8.730000  149.619995  1745.530029
2019-11-21  11.530000   8.710000  149.479996  1734.709961
2019-11-22  11.550000   8.890000  149.589996  1745.719971
2019-11-25  11.580000   9.000000  151.229996  1773.839966
2019-11-26  11.425000   8.960000  152.000000  1790.761963

[4756 rows x 4 columns]

In [7]:
rate_of_return = (data_frame/data_frame.shift(1)) - 1

In [8]:
rate_of_return

                  GE         F      MSFT      AMZN
Date
2001-01-02       NaN       NaN       NaN       NaN
2001-01-03  0.092857  0.033419  0.105187  0.265766
2001-01-04  0.005229  0.072139  0.010430 -0.117438
2001-01-05 -0.015605 -0.025522  0.014194 -0.060484
2001-01-08 -0.036988 -0.023809 -0.003817  0.025751
...              ...       ...       ...       ...
2019-11-20 -0.009565 -0.019101 -0.001735 -0.004142
2019-11-21  0.012291 -0.002291 -0.000936 -0.006199
2019-11-22  0.001735  0.020666  0.000736  0.006347
2019-11-25  0.002597  0.012373  0.010963  0.016108
2019-11-26 -0.013385 -0.004444  0.005092  0.009540

[4756 rows x 4 columns]

In [11]:
annual_return = rate_of_return.mean() * 250

In [12]:
annual_return

GE      0.010263
F       0.062346
MSFT    0.164708
AMZN    0.369017
dtype: float64

In [17]:
#calaulate the over all return for the portfolio 
weights = np.array([0.25,0.25,0.25,0.25])
port_return = np.dot(rate_of_return.mean() * 250, weights)

In [18]:
port_return

0.1515834231233094

In [19]:
port_return_summary = (f" The total return for the portfolio for the period is {port_return * 100} %")
port_return_summary

' The total return for the portfolio for the period is 15.15834231233094 %'