In [1]:
#Calculate the rate of return for the following securties
# GE, Ford, Microsoft, AMAZON

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as web

In [4]:
tickers = ["GE", "F", "MSFT", "AMZN"]
data_frame = pd.DataFrame()
for t in tickers:
    data_frame[t] = web.DataReader(t, data_source = "yahoo", start = "2001-1-1")["Adj Close"]

In [5]:
data_frame

                   GE          F        MSFT         AMZN
Date
2001-01-02  23.312727  13.555584   14.000292    13.875000
2001-01-03  25.477486  14.008603   15.472949    17.562500
2001-01-04  25.610699  15.019167   15.634336    15.500000
2001-01-05  25.211050  14.635847   15.856245    14.562500
2001-01-08  24.278542  14.287378   15.795717    14.937500
...               ...        ...         ...          ...
2019-11-12  11.420000   9.040000  147.070007  1778.000000
2019-11-13  11.290000   8.810000  147.309998  1753.109985
2019-11-14  11.290000   8.790000  148.059998  1754.599976
2019-11-15  11.520000   8.950000  149.970001  1739.489990
2019-11-18  11.345000   8.952600  149.671997  1739.430054

[4750 rows x 4 columns]