Calculate the risk of the securties: PG and BEI.DE

In [1]:
import pandas as pd 
from pandas_datareader import data as web
import numpy as np
import matplotlib.pyplot as plt

In [20]:
tickers = ['ABT', 'ABBV', 'ACN', 'ACE', 'ADBE']
data_frame = pd.DataFrame()
for t in tickers:
    data_frame[t] = web.DataReader(t, data_source = "yahoo", start = "2018-1-1")["Adj Close"]

In [21]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 514 entries, 2018-01-02 to 2020-01-16
Data columns (total 5 columns):
ABT     514 non-null float64
ABBV    514 non-null float64
ACN     514 non-null float64
ACE     308 non-null float64
ADBE    514 non-null float64
dtypes: float64(5)
memory usage: 24.1 KB

In [22]:
data_frame.head()

                  ABT       ABBV         ACN  ACE        ADBE
Date
2018-01-02  56.549885  88.455185  148.655960  NaN  177.699997
2018-01-03  56.674927  89.839394  149.342056  NaN  181.039993
2018-01-04  56.578735  89.327057  151.110382  NaN  183.220001
2018-01-05  56.742260  90.882057  152.356918  NaN  185.339996
2018-01-08  56.578735  89.425926  153.574463  NaN  185.039993

In [9]:
port_returns = np.log(data_frame/data_frame.shift(1))

In [11]:
port_returns.tail()

                  PG    BEI.DE
Date
2019-11-13  0.011504  0.003331
2019-11-14 -0.001244 -0.001426
2019-11-15  0.000332  0.006166
2019-11-18  0.011137  0.004246
2019-11-19 -0.003863 -0.001885

In [14]:
port_returns["PG"].mean()

0.0003151593380854148

In [15]:
port_returns["PG"].mean() * 250

0.0787898345213537

In [16]:
port_returns["PG"].std()

0.010983671021585956

In [17]:
#risk annualized 
port_returns["PG"].std() * 250 ** 0.5

0.17366708749100035

In [18]:
#BEI DE

In [19]:
port_returns["BEI.DE"].mean()

0.0002841894006631161

In [20]:
port_returns["BEI.DE"].mean() * 250

0.07104735016577902

In [21]:
port_returns["BEI.DE"].std()

0.013597420548578097

In [23]:
port_returns["BEI.DE"].std() * 250 ** 0.5

0.21499409618341492

In [24]:
port_returns[["BEI.DE", "PG"]].std() * 250 ** 0.5

BEI.DE    0.214994
PG        0.173667
dtype: float64

In [25]:
#covariance

In [28]:
port_returns.cov() * 250

             PG    BEI.DE
PG      0.03016  0.009680
BEI.DE  0.00968  0.046222

In [35]:
port_returns.corr()

              PG    BEI.DE
PG      1.000000  0.259306
BEI.DE  0.259306  1.000000

In [36]:
#calculate the portfolio variance and the volitility assuming we have an equally weighted portfolio

In [37]:
weights = np.array([0.5,0.5])

In [39]:
port_variance = np.dot(weights.T, np.dot(port_returns.cov() * 250, weights))
port_variance

0.02393576361135943

In [40]:
port_volitility = np.dot(weights.T, np.dot(port_returns.cov() * 250, weights)) ** 0.5

In [41]:
port_volitility

0.15471187288427293

In [44]:
print(str(round(port_volitility, 2) * 100) + "% Risk")

15.0% Risk