In [1]:
import pandas as pd 
import numpy as np 
from pandas_datareader import data as web
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [41]:
ticc = ["SDS", "SSO"]
framee = pd.DataFrame()
for tt in ticc:
    framee[tt] = web.DataReader(tt, data_source = "yahoo", start = "2019-05-26")["Adj Close"]

In [42]:
framee.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 129 entries, 2019-05-28 to 2019-11-26
Data columns (total 2 columns):
SDS    129 non-null float64
SSO    129 non-null float64
dtypes: float64(2)
memory usage: 3.0 KB

In [43]:
simp_returns = (framee/framee.shift(1)) -1

In [44]:
simp_returns

                 SDS       SSO
Date
2019-05-28       NaN       NaN
2019-05-29  0.013518 -0.012902
2019-05-30 -0.004349  0.004327
2019-05-31  0.026209 -0.026732
2019-06-03  0.006810 -0.005602
...              ...       ...
2019-11-20  0.007095 -0.006950
2019-11-21  0.002596 -0.003285
2019-11-22 -0.004068  0.004084
2019-11-25 -0.014482  0.015272
2019-11-26 -0.002072  0.002179

[129 rows x 2 columns]

In [57]:
simp_returns.mean() * 129 * 100

SDS   -22.632994
SSO    23.863023
dtype: float64

In [46]:
SDS_vol = simp_returns["SDS"].var() * 129
SDS_vol ** 0.5

0.18560064295142598

In [47]:
SSO_Vol = simp_returns["SSO"].var() * 129

In [48]:
SSO_Vol ** 0.5

0.1849919454287829

In [49]:
weight = np.array([0.5, 0.5])
port_Var = np.dot(weight.T, np.dot(simp_returns.cov() * 129, weight))

In [50]:
port_Var

1.3799865224133762e-05

In [51]:
port_std = port_Var ** 0.5 * 100

In [52]:
print(f"port volatility is {round(port_std, 3) } %")

port volatility is 0.371 %

In [53]:
framee.corr()

        SDS     SSO
SDS  1.0000 -0.9886
SSO -0.9886  1.0000

In [54]:
framee.cov()

           SDS        SSO
SDS   3.140209 -12.007862
SSO -12.007862  46.982020