In [56]:
import pandas as pd 
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
movie_Data = pd.read_csv("blockbusters.csv")

In [3]:
movie_Data

,Main_Genre,Genre_2,Genre_3,imdb_rating,length,rank_in_year,rating,studio,title,worldwide_gross,year
0,Action,Adventure,Drama,7.4,135,1,PG-13,Walt Disney Pictures,Black Panther,"$700,059,566",2018
1,Action,Adventure,Sci-Fi,8.5,156,2,PG-13,Walt Disney Pictures,Avengers: Infinity War,"$678,815,482",2018
2,Animation,Action,Adventure,7.8,118,3,PG,Pixar,Incredibles 2,"$608,581,744",2018
3,Action,Adventure,Drama,6.2,129,4,PG-13,Universal Pictures,Jurassic World: Fallen Kingdom,"$416,769,345",2018
4,Action,Comedy,NaN,7.8,119,5,R,20th Century Fox,Deadpool 2,"$318,491,426",2018
...,...,...,...,...,...,...,...,...,...,...,...
432,Thriller,Crime,Comedy,7.1,113,6,G,Metro-Goldwyn-Mayer,The Return of the Pink Panther,"$41,833,347.00",1975
433,Music,Drama,Comedy,6.4,136,7,PG,Columbia Pictures,Funny Lady,"$39,000,000.00",1975
434,Family,Western,Comedy,6.2,100,8,G,Walt Disney Pictures,The Apple Dumpling Gang,"$36,853,000.00",1975
435,Drama,NaN,NaN,6.0,88,9,PG,Columbia Pictures,"Aloha, Bobby and Rose","$35,000,000.00",1975
436,Drama,Western,War,6.4,103,10,PG,Universal Pictures,The Other Side of the Mountain,"$34,673,100.00",1975

In [17]:
movie_Data.sort_values("worldwide_gross").head(1)

,Main_Genre,Genre_2,Genre_3,imdb_rating,length,rank_in_year,rating,studio,title,worldwide_gross
year,,,,,,,,,,
2012,Fantasy,Adventure,NaN,8.0,169,4,PG-13,Warner Bros,The Hobbit: An Unexpected Journey,"$1,017,003,568.00"

In [34]:
highest_grossing = movie_Data.sort_values("worldwide_gross").head(1).iloc[0]["title"]
highest_grossing_revenue = movie_Data.sort_values("worldwide_gross").head(1).iloc[0]["worldwide_gross"]

In [35]:
highest_grossing_revenue

'$1,017,003,568.00 '

In [37]:
print(f"Highest grossing movie from 1975 to 2018\n was {highest_grossing} at a world wide gross of {highest_grossing_revenue}")

Highest grossing movie from 1975 to 2018
 was The Hobbit: An Unexpected Journey at a world wide gross of $1,017,003,568.00

# Find the highest grossing pg 13 movie from 1975 - 2018

In [31]:
movie_Data[movie_Data["rating"] == "PG-13"].sort_values("worldwide_gross").iloc[0]["title"]

'The Hobbit: An Unexpected Journey'

## Plot movie name to world wide gross on a graph

In [68]:
movie_vs_gross = movie_Data[["title", "worldwide_gross"]]

In [70]:
x = np.array(movie_vs_gross["title"])
y = np.array(movie_vs_gross["worldwide_gross"])