In [2]:
import numpy as np 
import pandas as pd
from numpy.random import randn

In [3]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4), index = ["a",'b','c','d','e'], columns=['q','w','e','r'])

In [6]:
df

          q         w         e         r
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [7]:
#conditional Selection using bracquet selection 
df > 0

       q      w      e      r
a   True   True  False  False
b  False   True   True   True
c   True   True   True   True
d  False  False  False   True
e  False   True   True   True

In [8]:
bool_df = df > 0

In [9]:
df[bool_df]

          q         w         e         r
a  0.302665  1.693723       NaN       NaN
b       NaN  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d       NaN       NaN       NaN  0.484752
e       NaN  1.901755  0.238127  1.996652

In [10]:
#print out where the frame is > 0 and null

In [12]:
#can do it in one line -> will do it mostly on a  specific row or column
df["w"] > 0

a     True
b     True
c     True
d    False
e     True
Name: w, dtype: bool

In [13]:
df[df["w"] > 0]

          q         w         e         r
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
e -0.116773  1.901755  0.238127  1.996652

In [14]:
#get one the data for the data frame when the number is < 0
df[df["r"] < 0]

          q         w         e         r
a  0.302665  1.693723 -1.706086 -1.159119

In [15]:
#lets try this all in one line 
#get the e values for the data frame where the w columns us > 0 
df

          q         w         e         r
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [17]:
df[df["w"] > 0]["e"]

a   -1.706086
b    0.166905
c    0.638787
e    0.238127
Name: e, dtype: float64

In [18]:
#lets do it again retriving multiple column
df

          q         w         e         r
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [19]:
df[df["w"] > 0 ][["r", "w"]]

          r         w
a -1.159119  1.693723
b  0.184502  0.390528
c  0.329646  0.072960
e  1.996652  1.901755

In [20]:
#Multiple conditonal statemtents -> must use & -> Amper stamp  canot use "and" or is | operator 
df

          q         w         e         r
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [21]:
#return data frame when the w series is > 0 and the r is < 1
df[(df["w"] > 0) & (df["r"] < 1)]

          q         w         e         r
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646

In [23]:
#let try it again with the OR terminoligy 
df[(df["w"] < 0) | (df["r"] < 1)]

          q         w         e         r
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752