In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [11]:
np.random.seed(101)

In [12]:
outside = ['G1', 'G1', "G1", 'G2', "G2", "G2"]
inside = [1,2,3,1,2,3]
heir_index = list(zip(outside, inside))

In [13]:
#zip allows you to combine lists and make them into tuples matching each item in eac list
heir_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [14]:
heir_index = pd.MultiIndex.from_tuples(heir_index)

In [15]:
heir_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [16]:
#multiple level index
df = pd.DataFrame(randn(6,2), index=heir_index, columns=["a", "b"])

In [17]:
df

             a         b
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [21]:
#how to grab data from a multi-. level index 
df.loc["G1"].loc[1]

a    2.706850
b    0.628133
Name: 1, dtype: float64

In [22]:
df

             a         b
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [27]:
#lets name the index when they are missing 
df.index.names = ["Groups", "index"]

In [29]:
#this will name the index for mthe outsie in

In [30]:
df

                     a         b
Groups index
G1     1      2.706850  0.628133
       2      0.907969  0.503826
       3      0.651118 -0.319318
G2     1     -0.848077  0.605965
       2     -2.018168  0.740122
       3      0.528813 -0.589001

In [33]:
#lets grab a value .740122 from the datya frame 
df.loc["G2"].loc[2]["b"]

0.7401220570561068

In [35]:
#cross section indexing -> grabs the data from on section(Level) and gets the associated data in the other 
#so for our example get-. the data in group one and get the associated data in group 2

df.xs(2, level = "index")

               a         b
Groups
G1      0.907969  0.503826
G2     -2.018168  0.740122