In [2]:
# Panel Data -> Was made for financial data

import pandas as pd
import numpy as np

In [3]:
#converty object type to serirs 
labels = ['a','b','c','d']
nums = [10,20,30,40]
arr = np.array([10,20,30,40])
d = {"a": 10, "b": 20, "c":30, "d": 40}

In [4]:
pd.Series(nums)

0    10
1    20
2    30
3    40
dtype: int64

In [21]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

In [6]:
pd.Series(arr, labels)

a    10
b    20
c    30
d    40
dtype: int64

In [18]:
data = np.arange(10,14)

In [19]:
ser1 = pd.Series(data, index = ["USA", "Canada", "Itale", "Germany"])

In [20]:
ser1

USA        10
Canada     11
Itale      12
Germany    13
dtype: int64