In [2]:
#Import pandas, numpy.ramdom -> randn, set seed for numpy
#what does numpy.random.seed() do -> same random numbers 
#create a data frame using randn setting the index and columns#
#create a df using a dictionary
#what is a data frame - Bunch of series that share an index
#pull out one column of data out of the data frame
#extracr mutiple columns [[]]
#create a new column and add ot the DF
#remove a column form the list .drop() -> ,ake sure you add axis (1 for column)
#selece  a few rows iloc (INdex) , loc (label)
#get a series of data using the slicin and loc ["row":]
#select a value iusing the loc subset notation .loc["row value", "col value"]
#select multiple values  for rows and cilumns using subset notation  .loc[["row1","row2"], ["colum1", "column 2"]]
#contidional selection -> use to filter out the data set that meets the cindition of your chosing
#crab two columns out of the filtered data framae 
#filter the df with one or more cinditions & | and or
#reset the index of a df  to a range (reset_index()) index and then to something else (iinplace = True)
#create a list of  states  using the split method  "MA NJ NY GA".split()
#set this to the new index  df.set_index("states")
#create a multi index dta fram with pandas (pd.Multi.from(zip(index1, index 2)))
#call data fro mthe new molti level index df.loc[].loc[]
#ceck the names of the index and add new names df.index.names = ["name1", "name2"]
#grab a single value from the data frame
#usingcross sectioning (XS, level= "index name") grab all the values at index 1 -> this grabs the matching data for each called index

In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [3]:
np.random.seed(101)

In [12]:
df = pd.DataFrame(randn(4,3), columns= ["A", "B", "C"], index= ["w",'x','y','z'])

In [13]:
df

          A         B         C
w -2.018168  0.740122  0.528813
x -0.589001  0.188695 -0.758872
y -0.933237  0.955057  0.190794
z  1.978757  2.605967  0.683509

In [14]:
#create another df using a dictionary
dict = {"A": [1,2,3,4,5], "B": [3,4,5,6,7], "C":[6,7,8,9,0]}
dff = pd.DataFrame(dict)

In [15]:
dff

   A  B  C
0  1  3  6
1  2  4  7
2  3  5  8
3  4  6  9
4  5  7  0

In [16]:
df["A"]

w   -2.018168
x   -0.589001
y   -0.933237
z    1.978757
Name: A, dtype: float64

In [17]:
#extrace multiple columns 
df[["A", "B"]]

          A         B
w -2.018168  0.740122
x -0.589001  0.188695
y -0.933237  0.955057
z  1.978757  2.605967

In [18]:
df

          A         B         C
w -2.018168  0.740122  0.528813
x -0.589001  0.188695 -0.758872
y -0.933237  0.955057  0.190794
z  1.978757  2.605967  0.683509

In [19]:
#add a new column to the df
df["D"] = df["C"] * df["B"]

In [20]:
df

          A         B         C         D
w -2.018168  0.740122  0.528813  0.391387
x -0.589001  0.188695 -0.758872 -0.143196
y -0.933237  0.955057  0.190794  0.182219
z  1.978757  2.605967  0.683509  1.781202

In [23]:
#relove a column but not perminantly
df.drop("C", axis= 1)

          A         B         D
w -2.018168  0.740122  0.391387
x -0.589001  0.188695 -0.143196
y -0.933237  0.955057  0.182219
z  1.978757  2.605967  1.781202

In [26]:
df.loc["w"]

A   -2.018168
B    0.740122
C    0.528813
D    0.391387
Name: w, dtype: float64

In [27]:
df.iloc[3]

A    1.978757
B    2.605967
C    0.683509
D    1.781202
Name: z, dtype: float64

In [28]:
#selece a few roes 
df.loc["x":]

          A         B         C         D
x -0.589001  0.188695 -0.758872 -0.143196
y -0.933237  0.955057  0.190794  0.182219
z  1.978757  2.605967  0.683509  1.781202

In [30]:
#selece a specific value
df.loc["x", "D"]

-0.14319559747900298

In [33]:
#select specific rows and columns 
df.loc[['x','y'], ["B", "D"]]

          B         D
x  0.188695 -0.143196
y  0.955057  0.182219

In [35]:
#conditionall selection 
df[df["A"] > 0]

          A         B         C         D
z  1.978757  2.605967  0.683509  1.781202

In [39]:
df[(df["C"] < 1) & (df["D"] > 0)][["C", "D"]]

          C         D
w  0.528813  0.391387
y  0.190794  0.182219
z  0.683509  1.781202

In [43]:
#reeset index 
df.reset_index()

  index         A         B         C         D
0     w -2.018168  0.740122  0.528813  0.391387
1     x -0.589001  0.188695 -0.758872 -0.143196
2     y -0.933237  0.955057  0.190794  0.182219
3     z  1.978757  2.605967  0.683509  1.781202

In [45]:
df.set_index("D")

                  A         B         C
D
 0.391387 -2.018168  0.740122  0.528813
-0.143196 -0.589001  0.188695 -0.758872
 0.182219 -0.933237  0.955057  0.190794
 1.781202  1.978757  2.605967  0.683509

In [46]:
#create a ,ulti index 
outside = ["G1", "G1","G1", "G2", "G2", "G2"]
inside = [1,2,3,1,2,3]
index = pd.MultiIndex.from_tuples(zip(outside,inside))

In [47]:
multi_frame = pd.DataFrame(randn(6,3), index= index, columns= ["A", "B", "C"])

In [52]:
multi_frame.index.names = ["Group", "Level"]

In [53]:
multi_frame

                    A         B         C
Group Level
G1    1      0.302665  1.693723 -1.706086
      2     -1.159119 -0.134841  0.390528
      3      0.166905  0.184502  0.807706
G2    1      0.072960  0.638787  0.329646
      2     -0.497104 -0.754070 -0.943406
      3      0.484752 -0.116773  1.901755

In [56]:
#grab for mthe new frame 
multi_frame.loc["G1"].loc[1]["A"]

0.3026654485851825

In [59]:
multi_frame.xs(2, level= "Level")
#perform a cross section on the multiframe

              A         B         C
Group
G1    -1.159119 -0.134841  0.390528
G2    -0.497104 -0.754070 -0.943406