In [ ]:
#Import pandas, numpy.ramdom -> randn, set seed for numpy
#what does numpy.random.seed() do -> same random numbers 
#create a data frame using randn setting the index and columns#
#what is a data frame - Bunch of series that share an index
#pull out one column of data out of the data frame
#extracr mutiple columns [[]]
#create a new column and add ot the DF
#remove a column form the list .drop() -> ,ake sure you add axis (1 for column)
#selece rows iloc (INdex) , loc (label)
#select a value iusing the loc subset notation .loc["row value", "col value"]
#select multiple values  for rows and cilumns using subset notation  .loc[["row1","row2"], ["colum1", "column 2"]]
#contidional selection -> use to filter out the data set that meets the cindition of your chosing
#crab two columns out of the filtered data framae 
#filter the df with one or more cinditions & | and or
#reset the index of a df  to a range (reset_index()) index and then to something else (iinplace = True)
#create a list of  states  using the split method  "MA NJ NY GA".split()
#set this to the new index  df.set_index("states")
#create a multi index dta fram with pandas (pd.Multi.from(zip(index1, index 2)))
#call data fro mthe new molti level index df.loc[].loc[]
#ceck the names of the index and add new names df.names = ["name1", "name2"]
#grab a single value from the data frame
#usingcross sectioning (XS, level= "index name") grab all the values at index 1 -> this grabs the matching data for each called index

In [16]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [17]:
np.random.seed(101)
#creades a list of random numebers in order

In [18]:
df = pd.DataFrame(randn(4,4), index= ["a b c d".split()], columns= [ "w", 'x', "y", "z"])

In [19]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [20]:
df["z"]

a    0.503826
b    0.605965
c   -0.589001
d    0.955057
Name: z, dtype: float64

In [27]:
df[["x", "y"]].loc["a", "y"]

a    0.907969
Name: y, dtype: float64

In [28]:
df["new"] = df["z"] * df["w"]

In [29]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  1.363781
b  0.651118 -0.319318 -0.848077  0.605965  0.394555
c -2.018168  0.740122  0.528813 -0.589001  1.188702
d  0.188695 -0.758872 -0.933237  0.955057  0.180215

In [32]:
df.drop("new", axis = 1, inplace= True)

In [33]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [34]:
df.loc["b"]

          w         x         y         z
b  0.651118 -0.319318 -0.848077  0.605965

In [36]:
df.iloc[2]["w"]

-2.018168244037392

In [37]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [44]:
df.loc["b", "z"]

b    0.605965
Name: z, dtype: float64

In [45]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [46]:
df.loc[["a", "b"], ["x", "y"]]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077

In [50]:
df[df["x"] < 0].loc["d"]["z"]

d    0.955057
Name: z, dtype: float64

In [57]:
df[(df["x"] < 0 ) & (df["w"] > 0)][["y", "z"]]

          y         z
b -0.848077  0.605965
d -0.933237  0.955057

In [60]:
df.reset_index(inplace=True)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057