In [ ]:
#import walmart data dn converth the date column from  an oject to a date time object
#use the todate function in the dpandas libraryt to concert df["Date"] = pd.todatetime("Date ")
#set the index t othe new  date time object
#use parse dates on the index_col so that it will try to convert to a date time index

In [2]:
import pandas as pd
import numpy as np
import quandl as qd
import matplotlib.pyplot

In [8]:
walmart = pd.read_csv("resources/walmart_stock.csv", index_col = "Date", parse_dates = True)

In [9]:
walmart.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2012-01-03 to 2016-12-30
Data columns (total 6 columns):
Open         1258 non-null float64
High         1258 non-null float64
Low          1258 non-null float64
Close        1258 non-null float64
Volume       1258 non-null int64
Adj Close    1258 non-null float64
dtypes: float64(5), int64(1)
memory usage: 68.8 KB

In [13]:
walmart.head()

                 Open       High        Low      Close    Volume  Adj Close
Date
2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300  51.616215

In [14]:
ipo_stats = qd.get('RENCAP/USIPO')

In [15]:
ipo_stats

            Number of Filings  Number of Pricings  Proceeds (Billion USD)
Date
2008-12-31              104.0                31.0                    24.5
2009-12-31              118.0                63.0                    21.8
2010-12-31              252.0               153.0                    38.9
2011-12-31              258.0               125.0                    36.3
2012-12-31              140.0               128.0                    42.8
2013-12-31              256.0               222.0                    69.5
2014-12-31              364.0               275.0                    87.8
2015-12-31              234.0               170.0                    30.3
2016-12-31              126.0               105.0                    18.8
2017-12-31               95.0                79.0                    20.6