#### Sharp ratio -> Allows us to use math to quantify the relationship between the mean dail return  and the volitility of a portfolio. Calculates risk adjusted Return
### William Sharp

In [ ]:
## s = ("Rp - RF"/"STDp")

### Formula -> 
###### Rp -> Expected portfolio Return
##### Rf -> Portfolio Risk free Return -> investing, putting your money in a bank, usually 0, Treasury Bonds rate is usually used
##### Sigma -> Standard deviation of the portfolio

In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data as web

In [3]:
tickers = ["AAPL", "IBM", "CSCO", "AMZN"]
df_stocks = pd.DataFrame()
for t in tickers:
    df_stocks[t] = web.DataReader(t, data_source="yahoo", start = "2012-1-1", end="2017-1-1")["Adj Close"]

In [5]:
df_stocks

                  AAPL         IBM       CSCO        AMZN
Date
2012-01-03   50.994907  139.934006  14.633397  179.029999
2012-01-04   51.268970  139.363144  14.916168  177.509995
2012-01-05   51.838169  138.702209  14.861184  177.610001
2012-01-06   52.380054  137.109772  14.806202  182.610001
2012-01-09   52.296970  136.396225  14.900459  178.559998
...                ...         ...        ...         ...
2016-12-23  111.043777  144.999130  27.617710  760.590027
2016-12-27  111.749001  145.373108  27.753399  771.400024
2016-12-28  111.272507  144.546829  27.518202  772.130005
2016-12-29  111.243919  144.903442  27.554386  765.150024
2016-12-30  110.376678  144.372894  27.337276  749.869995

[1258 rows x 4 columns]

### cumulative Daily Return

In [6]:
for tic in df_stocks:
    df[f"{tic} Daily Return"] = df[tic]/

AAPL
IBM
CSCO
AMZN